EXPO_PUBLIC_API_URL=http://localhost:3001
EXPO_PUBLIC_AUTH0_DOMAIN=your-tenant.auth0.com
EXPO_PUBLIC_AUTH0_CLIENT_ID=your_client_id
EXPO_PUBLIC_MAPBOX_TOKEN=your_public_token
EXPO_PUBLIC_PRESAGE_KEY=your_key_here
